body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
td {
	vertical-align: initial;
	border: unset !important;
}

p {
	margin: initial;
}

textarea {
	min-height: 200px;
}