@{
	ViewData["Title"] = "Overview";
}

<h2>Markers Overview</h2>

<hr />

<div class="row">
	<div class="col-md-6">
		@Html.Partial("_Map")
	</div>
	<div class="col-md-6">
		<h3>Please click on one of the markers to view details</h3>
		<p>By doing so, you will be shown the details for the marker you have clicked on</p>
		<hr />
		<h4>Marker Details</h4>
		<br />
		<p class="disabled">Marker title</p>
		<br />
		<p class="disabled">Marker type</p>
		<br />
		<p class="disabled">Description Title</p>
		<br />
		<p class="disabled">Location</p>
		<br />
		<p class="disabled">Feeding time --/--/--</p>
		<br />
		<p class="disabled">Description body</p>
		<br />
		<p class="btn btn-default disabled">Edit Marker</p>
	</div>
</div>

<script>
	var markers = @Json.Serialize(Model);
	var activeMarker = null;

	for (var i = 0, n = markers.length; i < n; i++) {
		console.log(markers[i])
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(markers[i].lat, markers[i].lng),
			markerID: markers[i].id
		});
		marker.setMap(map);	
		marker.addListener("click", function () {
			if (activeMarker) {
				activeMarker.setAnimation(null);
			}
			this.setAnimation(google.maps.Animation.BOUNCE);
			activeMarker = this;
			this.setAnimation(google.maps.Animation.BOUNCE);
			window.location = "/Overview/details/" + this.markerID + "?lat=" + this.position.lat() + "&lng=" + this.position.lng();
		});
	}
</script>